* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "calibri", "Cambria", Cochin, Georgia, Times, "Times New Roman",
    serif;
}

.btn {
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid gray;
  font-size: medium;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

input {
  padding: 0 0.2rem;
}

.flex-grow {
  flex-grow: 1;
}

.w-100 {
  width: 100%;
}

.my-1 {
  margin-block: 1rem;
}
